<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments Summary</title>
   <style>
    h1 {text-align: center;}
    p {text-align: center;}
   </style> 
</head>
<body>
    <h1>{{user.username}}:Assignments</h1>
    <p>
        {% for each in assign_t %}
        {{each.id}}. {{each.course_name}}&nbsp; {{each.assignment_name}} &nbsp;<a href="/{{each.link}}/">{{each.link}}</a><br>
        {% endfor%}
    </p>
</body>
</html>